{
  "env": {
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "no-continue": "off",
    "keyword-spacing": "off",
    "space-before-blocks": "off",
    "no-underscore-dangle": "off",
    "object-curly-spacing": "off",
    "space-infix-ops": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "class-methods-use-this": "off"
  }
}